<div>
    <form method="post">
      <h1>Login</h1>
      <input
        type="text"
        [(ngModel)]="user"
        name="user"
        placeholder="User"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
    <button (click)="getUsers()">Users in consola</button>
  </div>

  <h1>Buscador</h1>
<!-- <form #usersForm="ngForm">
    <label>Introduzca user</label>
    <input type="text"
    #cajaUser name="cajaUser"/>
    <button (click)="buscarUser()">Buscar usuario</button>
</form> -->
<input
type="text"
class="forms-control"
placeholder="Buscar.."
[(ngModel)]="filterpost"
name="filterpost"
/>
  <table>
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users | filter: filterpost">
        <td>{{u.identifier}}</td>
        <td>{{u.identity.name}}</td>
      </tr>
    </tbody>
  </table>